{% extends 'base.html.twig' %}
{% block title %}{{ programs.title }}{% endblock %}

{% block body %}
    {% for season in seasons %}
        <div>
            <h2>{{ season.description }}</h2>
            <p>{{ season.description }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}