$primary : #177E89;
$secondary: #721121;

.navbar {
  background-color: $primary;
}

h1 {
  color: $secondary;
}

.email-title {
  color: $primary;
}

.base {
  with: 80%;
  margin: auto;
}

@import "~bootstrap/scss/bootstrap.scss";
