<!doctype HTML>

       <p style="color:red;">Hé toi ! La série {{ program.title }} est sortie sur Wild Série ! Viens donc la regarder, petit fou que tu es !</p>
        <a href="{{ url('wild_slug', {'Slug': program.Slug}) }}">Clique ici pour la voir !</a>